stages:
  - build
  - code_analysis
  - mvn_install

before_script:
  - git reset --hard $CI_COMMIT_SHA
  - git clean -df
  - git stash
  - git pull origin $CI_COMMIT_SHA
  
svarog-interfaces-build:
  stage: build
  script:  
    - pwd
    - mvn clean compile

svarog-interfaces-sonarqube:
  stage: code_analysis
  script:  
    - pwd
    - mvn sonar:sonar
  only:
    - master
    - staging
    - dev

svarog-interfaces-install:
  stage: mvn_install
  script:  
    - pwd
    - mvn install
  only:
    - master
    - staging
    - dev
